.crear-wrapper {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  color: var(--text-main);
}

.crear-sub {
  color: var(--text-sub);
  margin-bottom: 20px;
}

.crear-card {
  background-color: var(--bg-card);
  padding: 25px;
  border-radius: 12px;
  box-shadow: var(--shadow-main);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.crear-card label {
  font-weight: 600;
  margin-bottom: 4px;
}

.crear-card select,
.crear-card textarea {
  border: 1px solid var(--border-color);
  background-color: var(--bg-input);
  color: var(--text-main);
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  font-size: 14px;
}

.crear-btn {
  margin-top: 10px;
  background-color: var(--accent-primary);
  color: white;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  border: none;
  transition: all 0.2s;
}

.crear-btn:hover {
  background-color: var(--accent-secondary);
}


.crear-msg {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}